@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;500;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 15px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    font-family: "Space Mono", monospace;
    background-color: #c5e4e7;
    font-size: 24px;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;
}

.content-box {
    margin: 0 auto;
    max-width: 920px;
    background-color: #ffff;
    display: flex;
    justify-content: space-around;
    padding: 30px 30px 30px 30px;
    border-radius: 25px;
    margin-bottom: 75px;
}

.title {
    color: #3c5f61;
    font-size: 28px;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 75px;
    margin-top: 75px;
}

.col-bill {
    width: 440px;
    margin-right: 40px;
}

.bill,
.tip {
    margin-bottom: 50px;
}

.bill__title,
.tip__title,
.people__title {
    color: #3c5f61;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.people__error {
    color: #df7410;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.people__inner {
    display: flex;
    justify-content: space-between;
}

.tip__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.col-total {
    width: 500px;
    height: 455px;
    background-color: #00474b;
    padding: 40px 40px 40px 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.btn-tip {
    width: 115px;
    height: 48px;
    border-radius: 8px;
    background-color: #00474b;
    color: #ffff;
    border: none;
    font-family: inherit;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s;
}

.btn-tip:hover {
    background-color: #5be6d3;
    color: #00474b;
}

.custom {
    width: 113px;
    height: 49px;
    padding: 0px;
    color: #3c5f61 !important;
    background-color: #f3f8fb !important;
    border-radius: 8px;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.1s;
}

.custom placeholder {
    text-align: center;
}

.bill__input,
.people__input {
    width: 100%;
    height: 50px;
    text-align: end;
    font-family: inherit;
    font-weight: 700;
    font-size: 24px;
    color: #00474b;
    background-color: #f3f8fb;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: all 0.1s;
}

.bill__label,
.people__label {
    position: relative;
}

.bill__label:before,
.people__label:before {
    content: "";
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 20px;
    width: 12px;
    height: 19px;
    background: url("/images/icon-dollar.svg") no-repeat;
    background-size: cover;
}

.people__label:before {
    width: 14px;
    height: 20px;
    background: url("/images/icon-person.svg") no-repeat;
}

input:focus {
    border: 5px solid #9fe8df;
    border-radius: 5px;
}

.tip-amount,
.person-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tip-amount__title,
.person-total__title {
    color: #ffff;
    font-size: 20px;
}

.tip-amount__suptitle,
.person-total__suptitle {
    color: #d1dce2;
    font-size: 12px;
}

.tip-amount span,
.person-total span {
    color: #26c2ad;
    font-size: 58px;
    font-family: inherit;
    font-weight: 700;
}

.col-total__inner {
    flex: 1 0 auto;
}

.reset {
    width: 100%;
    height: 50px;
    background-color: #26c2ad;
    font-family: inherit;
    font-size: 24px;
    font-weight: 700;
    color: #00373b;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s;
}

.reset:hover {
    background-color: #49f7df;
}

.error {
    border: 5px solid #df7410;
    border-radius: 5px;
}

.btn-active {
    background-color: #26c2ad;
    color: #00474b;
}

.hide {
    display: none;
}

@media (max-width: 935px) {
    .container {
        max-width: 900px;
    }
    .bill,
    .tip {
        margin-bottom: 25px;
    }
    .tip__inner {
        justify-content: center;
    }
}

@media (max-width: 765px) {
    .container {
        max-width: 700px;
    }
    .title {
        margin: 25px 0;
    }
    .content-box {
        flex-wrap: wrap;
        padding: 15px;
    }
    .col-bill {
        margin: 0 0 25px 0;
    }
}

@media (max-width: 450px) {
    .container {
        max-width: 400px;
    }
    .tip {
        margin-bottom: 10px;
    }
    .col-total {
        width: 95%;
        padding: 35px 25px 25px 25px;
        height: 300px;
    }

    .bill__title,
    .tip__title,
    .people__title {
        font-size: 14px;
        margin-bottom: 10px;
    }

    .tip-amount__title,
    .person-total__title {
        font-size: 16px;
    }

    .tip-amount__inner {
        margin-bottom: 25px;
    }

    .tip-amount span,
    .person-total span {
        font-size: 24px;
        font-weight: 700;
    }

    .btn-tip {
        width: 85px;
        height: 48px;
        font-size: 18px;
    }
    .custom {
        font-size: 18px;
    }
}
